---
// src/layouts/Layout.astro
import { ClientRouter } from "astro:transitions";
import ChatIA from "../components/ui/chatIA.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <ClientRouter />

    <script is:inline>
      const getTheme = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: light)").matches
          ? "light"
          : "dark";
      };

      const theme = getTheme();
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body
    class="bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-50 transition-colors duration-300 min-h-screen relative"
  >
    <div
      class="fixed inset-0 -z-10 bg-[radial-gradient(circle_at_50%_120%,rgba(120,119,198,0.1),rgba(255,255,255,0))] dark:bg-[radial-gradient(circle_at_50%_120%,rgba(120,119,198,0.2),rgba(0,0,0,0))] animate-pulse duration-[8000s]"
    >
    </div>

    <slot />

    <ChatIA />
  </body>
</html>

<style is:global>
  /* Inyección directa de Tailwind v3 sin pasar por PostCSS Import */
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  /* Quita la barra de scroll visual en las categorías */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
